# Chapter 2
## 특성 공학(Feature Engineering)  : 컴퓨터가 학습할 때, 일반화 된 수식을 도출할 수 있도록 데이터를 깔끔하게 다듬는 작업
### 1. Missing Value Imputation(Missing Value에 대한 대치) : 결측 되어 있는 값을 다른 값(평균, 중앙값, 최대값, ...)으로 대치
### 2. Scailing & Encoding
####    - Scailing : 숫자데이터의 서로 다른 차원(Scale)을 맞춰주는 작업
####    - Encoding : 문자데이터를 숫자데이터로 변환
### 3. Cross Validation : 데이터셋이 모두 학습에 참여할 수 있도록, 학습데이터 셋을 교차로 바꿔가며 학습을 진행하는 방법
### 4. Hyper Parameter Tuning : 데이터를 학습할 때 발생하는 알고리즘의 수학적 구조를 사용자가 통제
### 5. Sampling : 서로 다른 비율의 데이터를 맞춰주는 작업
####    - Under Sampling : 데이터의 비율이 적은 쪽으로 데이터를 맞추는 작업
####    - Over Sampling : 데이터의 비율이 큰 쪽으로 데이터를 생성하는 작업

### 1. Missing Value Imputation

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('../chapter1/01_Contract_Data.csv')

In [23]:
df2 = df1[['Age', 'Overdue_count', 'Credit_Rank']]

In [25]:
df2.isnull().sum()

Age              6972
Overdue_count       0
Credit_Rank      8781
dtype: int64

In [26]:
# 단순 결측치 제거
df2.dropna()

        Age  Overdue_count  Credit_Rank
0      42.0              0          9.0
1      39.0              0          2.0
2      48.0              0          8.0
3      39.0              0          5.0
4      60.0             12          8.0
...     ...            ...          ...
51295  45.0              0          1.0
51297  42.0              0          8.0
51298  65.0              0          1.0
51299  54.0              0          2.0
51300  53.0              0          8.0

[40648 rows x 3 columns]

In [28]:
df2['Credit_Rank'].fillna(0) # 단순 0으로 채움

0        9.0
1        2.0
2        8.0
3        5.0
4        8.0
        ...
51296    0.0
51297    8.0
51298    1.0
51299    2.0
51300    8.0
Name: Credit_Rank, Length: 51301, dtype: float64

In [29]:
from sklearn.impute import SimpleImputer # 통계를 이용하여 결측치를 채우는 방법

In [39]:
model_miss = SimpleImputer(strategy='median')
model_miss.fit(df2)

SimpleImputer(strategy='median')

In [41]:
pd.DataFrame(model_miss.transform(df2)).isnull().sum()

0    0
1    0
2    0
dtype: int64

In [43]:
pd.DataFrame(model_miss.transform(df2)).describe()

                  0             1             2
count  51301.000000  51301.000000  51301.000000
mean      49.884915      0.161381      3.355412
std       10.216272      1.122193      2.021593
min       25.000000      0.000000      0.000000
25%       43.000000      0.000000      2.000000
50%       49.000000      0.000000      3.000000
75%       55.000000      0.000000      5.000000
max      102.000000     15.000000     10.000000

In [44]:
df2.describe()

                Age  Overdue_count   Credit_Rank
count  44329.000000   51301.000000  42520.000000
mean      50.024093       0.161381      3.428810
std       10.983877       1.122193      2.213453
min       25.000000       0.000000      0.000000
25%       42.000000       0.000000      1.000000
50%       49.000000       0.000000      3.000000
75%       57.000000       0.000000      5.000000
max      102.000000      15.000000     10.000000

In [45]:
# 결측치를 제거 했으니 학습을 진행
X = pd.DataFrame(model_miss.transform(df2))
Y = df1['Amount_Month']

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [49]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [51]:
model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()